<!DOCTYPE html>
<html>
<head>
  <title>Python submission test runner</title>
  <%= stylesheet_link_tag    "python_submission_test_runner/application", media: "all" %>
  <%= javascript_include_tag "python_submission_test_runner/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
